/* global styles  */
    header {
        text-align: center;
    }
    h3{
        text-align: center;
    }
p{
    text-align:center
}
/* element styles */


/* headings */


/* layout */


/* button styling*/

button{
    color: purple
}
/* #toggle {
    color: blueviolet;
} */
/* images */

intuition