/* global styles  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border;
}   
body {
    font-size: 16px;
    min-height: 100vh;
    background-color: pink;
    font-family: system-ui, sans-serif;
  }


/* element styles */


/* headings */
header {
    text-align: center;
}
h3{
    text-align: center;
}

/* layout */
p{
    text-align:center
}

/* button styling*/

button{
    color: purple
}

/* images */

.Intuition-cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#front{
   position-anchor: ;
}
#back{
 position-visibility: always;

}