/* global styles  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border;
}   
body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui, sans-serif;
  }


/* element styles */
div{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:grid;
    
}

/* headings */
header {
    text-align: center;
}
h3{
    text-align: center;
}

/* layout */
p{
    text-align:center
}

/* button styling*/

button{
    color: purple
}

/* images */

#Intuition-cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
